// color scheme
$color-white: #fff;
$color-bone: #f2f4f5;;
$color-orange: #ff7f50;


//font size
$fz-xxx-large: 50px;
$fz-xx-large: 30px;
$fz-x-large: 20px;
$fz-large: 18px;
$fz-medium: 16px;
$fz-small: 14px;
$fz-x-small: 11px;

//font weigth
$bold-weigth: 700;
$regular-weigth: 400;
